# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
#*.sln
*.hint
#*.vcxproj*
*.aps
.vs/
picprog/Include/elfio/
Debug/
Release/
x64/
picprog4/MDK-ARM/
*.mxproject
#*.ioc
picprog4/.settings/
picprog4/Debug/
picprog4/Release/
*.cproject
!picprog4/.cproject
*.mxproject
*.project
!picprog4/.project
*.ld
*.launch
